.tab_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.tab_radio {
  display: none;
}

.tab_label {
  font-size: 16px;
  color: #2d77f6;
  cursor: pointer;
}

.tab_radio:checked + .tab_label {
  color: #47535d;
  text-decoration: underline;
  cursor: default;
}

.tab_content {
  display: none;
}

.tab_content.visible {
  display: block;
}
