html {
  width: 200px;
  text-align: center;
}

h1 {
  font-size: 14px;
}

button {
  outline: none;
  border: none;
  width: 100%;
  float: left;
  padding: 10px;
  border-radius: 20px;
  background: #dedfe2;
  color: black;
  margin-bottom: 10px;
}

button:hover {
  background: #8c8c8c;
  color: white;
}

button:active {
  background: #404040;
  color: white;
}
