html {
  width: 200px;
  text-align: center;
  padding: 10px;
  color: #818c9d;
}

section * {
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  color: #47535d;
}

a {
  color: #17a2e0;
}

a:hover {
  text-decoration: none;
}

.tab_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.radio {
  display: none;
}

.tab_label {
  font-size: 16px;
  color: #47535d;
  cursor: pointer;
}

.radio:checked + .tab_label {
  font-weight: bold;
}

.tab_content {
  display: none;
}

.tab_content.visible {
  display: block;
}

button.submit {
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 0;
  color: #17a2e0;
  cursor: pointer;
  position: relative;
  transition: color .3s;
}

button.submit:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #19b8ff;
  transition: width .3s;
}

button.submit:hover {
  color: #19b8ff;
}

button.submit:hover:after {
  width: 100%;
  left: 0;
  transform: translate(0);
}

button.switch {
  outline: none;
  background: none;
  border: 1px solid #818c9d;
  border-radius: 10px;
  color: #818c9d;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  font-size: 10px;
}

button.switch:hover {
  background: #818c9d;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

.slider {
  width: 100%;
}

.copyright {
  font-size: 10px;
}

input[type=range] {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #818c9d;
  border-radius: 10px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  background: white;
  -webkit-appearance: none;
  outline: none;
}
