html {
  width: 200px;
  text-align: center;
}

section * {
  margin-bottom: 10px;
}

button {
  outline: none;
  border: none;
  width: 100%;
  float: left;
  padding: 10px;
  border-radius: 20px;
  background: #dedfe2;
  color: black;
}

button:hover {
  background: #8c8c8c;
  color: white;
}

button:active {
  background: #404040;
  color: white;
}

hr {
  border: 0;
  width: 100%;
  height: 1px;
  background: gray;
}

label {
  display: block;
  margin-bottom: 5px;
}

.slider {
  width: 100%;
}

.copyright {
  font-size: 10px;
}
