button.submit {
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 0;
  color: #707070;
  cursor: pointer;
  position: relative;
  background-color: #efefef;
  border-radius: 30px;
}

button.submit:hover {
  background-color: #707070;
  color: white;
}

button.preset {
  outline: none;
  background: #f6f6f6;
  border: 0;
  padding: 6px 10px;
  border-radius: 20px;
  color: #707070;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  font-size: 10px;
}

button.preset:hover {
  background: #707070;
  color: white;
}

.image_size_presets {
  margin-top: 10px;
}
