html {
  font-family: Arial, sans-serif;
  width: 200px;
  text-align: center;
  padding: 10px;
  color: #707070;
}

section * {
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  color: #47535d;
}

a {
  color: #2d77f6;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

.copyright {
  font-size: 10px;
}

.content_image {
  margin-bottom: 20px;
}

.no_spaces_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.no_spaces_wrapper input {
  margin-right: 6px;
}

.no_spaces_wrapper label {
  margin-bottom: 6px;
}
